.heading-container {
    width: 350px !important;
    margin: 25px auto 30px;
}

.heading-container h1 {
    font-size: 50px;
    color: #776E65;
}

.heading-container .score-container {
    min-width: 90px;
    min-height: 108px;
    text-align: center;
    float: right;
    font-weight: 700;
}


.heading-container .score-container .score-panel {
    background-color: #bbada0;
    border-radius: 4px;
    padding: 5px 0;
    word-break: break-all;
}

.heading-container .score-container .score-panel p {
    margin-bottom: 0;
    color: #eee4da;
}

.heading-container .score-container .score-panel .score {
    color: #f9f6f2;
    font-size: 26px;
}

.heading-container .score-container .score-added {
    margin: 5px 0 0;
    color: #776E65;
    font-size: 20px;
    position: relative;
    right: 8px;
}

.heading-container .score-container .score-added span {
    position: relative;
    left: 3px;
}

.react-2048-container {
    width: 350px;
    margin: auto;
    padding: 0 15px;
    background-color: #bbada0;
    border-radius: 6px;
    position: relative;
}

.react-2048-container .row-panel {
    padding: 10px 0 0 10px;
}

.react-2048-container .row-panel .number-container {
    padding: 0 10px 10px 0;
}

.react-2048-container .row-panel .number-container .number-panel {
    height: 75px;
    background-color: rgba(238, 228, 218, 0.35);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-weight: 700;
    font-size: 30px;
}

.react-2048-container .game-over-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000038;
    top: 0;
    right: 0;
    border-radius: 6px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}